
img{max-height: 500px;
    max-width: 500px;
    width: 400px;
    height: 400px;}
h1{font-size: 50px;
color:black;
display: flex; }

img{display: flex;}
h4{
    display: flex;
   font-size: 30px;}