
    img{max-height: 500px;
        max-width: 500px;
        width: 400px;
        height: 300px;}
h1{font-size: 60px;
    display: flex;
color:black;}
h4{font-size: 20px;
    display: flex;
color:black;}
  
