body{background-color: black;}
h1{color: cornsilk;
text-align: center;}
img{  margin:auto;
  display:block;}
p{color: cornsilk;
text-align: center;
font-size:35px;}

button:active{
    text-align: center;
    background-color: white;
  box-shadow: 1px white;
  transform: translateY(4px);
}
button{
  margin:auto;
  display:block;
  align-items: center;
    text-align: center;
  border-radius: 80px;
  box-shadow: 0 9px #999;
  cursor: pointer;
  padding: 35px 45px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  background-color:white;
  color: black  ;
border: none;
text-align: center;
text-decoration: none;
font-size: 15px;
button:hover;
}
