body{backgorund-color:red;}
h1{color:white;
background-color:black;
text-align:center;
margin:20pt;
font-size:20pt;
line-height:1.5;}
h2{color:yellow;
background-color:green;
text-align:right;
margin:20pt;
font-size:20pt;
line-height:1.5;
}
h3{color:blue;
background-color:white;
margin:10pt;
font-size:20pt;
line-height:1.5;
Text-decoration:underline;
}